{% extends "user/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{% trans 'Deleting course' %}</legend>
        </fieldset>
        <div class="form-group">
            <p>{% trans 'Do you want to delete course' %} "{{ object }}"?</p>
            <button class="btn btn-outline-danger" type="submit">{% trans 'Delete' %}</button>
        </div>
    </form>
{% endblock %}
