{% extends "user/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <div class="media-body ml-2">
                <h2 class="account-heading">{{ subject.name }}</h2>
                <label>{% trans 'Description' %}</label>
                <p class="text-secondary">{{ subject.description }}</p>
                <label>{% trans 'Duration' %}</label>
                <p class="text-secondary">{{ subject.duration }}</p>
                <label>{% trans 'Trainer' %}</label><br/>
                <a class="text-secondary"
                   href="{% url 'view-profile' subject.trainer.id %}"> {{ subject.trainer.first_name }} {{ subject.trainer.last_name }}</a>
            </div>
        </div>
    </div>
{% endblock content %}



