{% extends "user/base.html" %}
{% load i18n %}
{% block load_css %}
    <style>
        a {
            text-decoration: underline;
        }

        a:hover {
            text-decoration: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="mt-4 mb-4">
        <h1 class="mr-4" style="display: inline;">{% trans 'Subject List' %}</h1>
        {% if user.role > 0 %}
            <a class="btn btn-outline-primary mb-3" href="{% url 'subject-create' %}">{% trans 'Add' %}</a>{% endif %}
    </div>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">{% trans 'Name' %}</th>
            <th scope="col">{% trans 'Description' %}</th>
            <th scope="col">{% trans 'Duration' %}</th>
            <th scope="col">{% trans 'Trainer' %}</th>
            <th scope="col">{% trans 'Action' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for subject in subjects %}

            <td>
                {% if user.role != 0 %}
                    <a style="color: black;"
                       href="{% url 'subject-detail-trainer' subject.pk %}">{{ subject.name }}</a>
                {% else %}
                    <a style="color: black;"
                       href="{% url 'subject-detail-trainee' subject.pk %}">{{ subject.name }}</a>
                {% endif %}
            </td>

            <td>{{ subject.description }}</td>
            <td>{{ subject.duration }}</td>
            <td><a href="{% url 'view-profile' subject.trainer.pk %}">{{ subject.trainer.username }}</a></td>
            <td><a class="btn btn-danger" href="{% url 'subject-delete' subject.pk %}">{% trans 'Delete' %}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
